spring:
  application:
    name: food-delivery

  datasource:
    url: jdbc:h2:mem:fooddb;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update

  h2:
    console:
      enabled: true

server:
  error:
    include-message: always
    include-binding-errors: always
